body {
    background-image: url('https://images.unsplash.com/photo-1500930540495-e92875696a16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1786&q=80');
    background: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.nav-bar {
    background-color: #81b29a;
    font-size: x-large;
    color: black;
    margin-bottom: 10px;
    padding: 30px;
    height: 25%;
    width: auto;
}
/* ------------------------------------ END Global Selectors ------------------------------------------ */
.CardContainer {
display: grid;
/* grid-template-columns: auto auto; */
grid-template-columns: auto auto;
grid-template-rows: (auto-fit, minmax(500px, 2fr));
background-color: #2196F3;
padding: 10px;
grid-gap: 10px;
align-items: center;
}

.grid-item{
padding: 20px;
font-size: 30px;
text-align: center;
justify-self: center;
justify-content: center;
}

/* ------------------------------------ END Carlos' CSS ----------------------------------------------- */

/* ------------------------------------ START Pedro's CSS --------------------------------------------- */


.title-and-p {
    margin: 15px 40px 15px 40px;
}
/* MY OLD CODE FOR LAYING OUT THE CARDS ON WEBSITE, WE ARE GOING TO USE CARLOS' FLEXBOX GRID CODE */
/* .card-container {
    margin: 5rem 5px 3rem 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.cards{
    margin: 2rem 4rem 2rem 4rem;
}
.single-card {
    margin: 2rem 4rem 2rem 2rem;
}

.center-single-card {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}*/

/* .card-img-top {
    height: 320px;
    width: 288px;
    object-fit: contain;
} */
/* ------------------------------------ END Pedro's CSS ----------------------------------------------- */
@media only screen and (max-width: 800px) {
    .CardContainer {
        grid-template-columns:  auto;
    }
} 

/* Start Feedback Styling */
.feedback {
    margin: 1.5em;
    font-family: 'Encode Sans', sans-serif;
}

.hero-image {
    background: linear-gradient(to top, #a5945846, #776fc756), url(/images/Carlos/where.png);
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: 55%;
    width: 100%;
    height: 100vh;
    z-index: -5;
}

.header-block {
    position: absolute; 
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 10vh;
    background-color: #81b29a;
    z-index: -3;
}

.logo {
    background: url(/images/Carlos/ribbon.png.png);
    margin-top: -.6em;
    width: 5em;
    height: 5em;
    background-size: cover;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}



a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #F4F1DE;
}

.close {
    height: 3.5em;
    cursor: pointer;
}

nav {
    display: none;
}

.hero-txt {

}

.card-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
background-color: #2195f300;
padding: 1.5em;
grid-gap: 40px;

}

.card {


background-color: #E07A5F;
border-radius: 1.5em;
height: 60vh;


/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
text-align: center;
padding: 3em;
margin: 3em; */
}

/* End Feedback Styling */
