/* ------------------------------------ START Global Selectors ----------------------------------------- */

body {
    background-image: url(https://images.unsplash.com/photo-1500930540495-e92875696a16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1786&q=80);
    background: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ------------------------------------ END Global Selectors ------------------------------------------ */

/* ------------------------------------ START Carlos' CSS --------------------------------------------- */



/* ------------------------------------ END Carlos' CSS ----------------------------------------------- */

/* ------------------------------------ START Pedro's CSS --------------------------------------------- */



/* ------------------------------------ END Pedro's CSS ----------------------------------------------- */
